.small-event {
    margin: auto;
    width: 30px;
    height: 30px;
}

.event-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}