.small-event {
    margin: auto;
    width: 30px;
    height: 30px;
}

.event-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.background-blue{
    background-image: linear-gradient( 225deg, #43CBFF 10%, #9708CC 100%);
}
.background-green{
    background-image: linear-gradient( 225deg, #70F570 10%, #49C628 100%);
}
.background-yellow{
    background-image: linear-gradient( 225deg, #FEB692 10%, #EA5455 100%);
}
.event-carousel {
    border-radius: 9px;
    border-style: none;
}
.event-link{
    border-radius: 9px;
}