.update-welcome{
    margin: 1% 0;
}
.li-incomplete{
    color: gray
}
.link{
    text-decoration: none;
}
.certified{
    margin-left: 5px;
}
.details{
    padding: 0 2%;
}
.drop-down-btn{
    font-size: x-large;
    height: fit-content;
    text-align: left;
    width: 100%;
}
.abc{
    padding: 2%;
    transition: all .5s ease-in-out;
}