.update-welcome{
    margin: 1% 0;
}
.list-scrollable{
    max-height: 30vh;
    overflow-y: scroll;
    padding: 0.5% 5%;
}
.li-incomplete{
    color: gray
}
.link{
    text-decoration: none;
}
.certified{
    margin-left: 5px;
}
.details{
    padding: 0 2%;
}