.search-box{
    width: 40%;
}
.search-container{
    margin: 10px 0;
}
.add-btn-container{

    text-align: right;
}

#scrollableDiv{
    height: 60vh;
    overflow: auto;
    padding: 0 16px;
    border: 1px solid rgba(140, 140, 140, 0.35);
  }