.search-box{
    width: 40%;
    margin: 15px;
}
.search-container{
    margin: 10px 0;
}

.search-container{
    text-align: center;
}

#scrollableTagDiv{
    height: 70vh;
    overflow: auto;
    padding: 0 16px;
  }