@import '~antd/dist/antd.css';
@import '~antd/dist/antd.dark.css';

.dark {
    background-color: rgba(0, 0, 0, 0);
}

.light {
    background-color: #ffffff;
}

.title {
    text-align: left;
}

/* #root {
    background-color: rgba(0, 0, 0, 0);
}

html {
    background-color: rgba(0, 0, 0, 0);
}
*/